@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    /* @apply text-gray-900 antialiased; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .safe-area-inset-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .safe-area-inset-top {
    padding-top: env(safe-area-inset-top);
  }
}

/* Toggle Switch Styles */
.toggle-checkbox:checked {
  @apply right-0 border-blue-600;
}

.toggle-checkbox:checked + .toggle-label {
  @apply bg-blue-600;
}
